@font-face {
    font-family: 'Telegraf';
    src: url('assets/TelegrafReg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('assets/TelegrafBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bus';
    src: url('assets/busfont3.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Telegraf', sans-serif;
    background-color: #FFF0E5;
}

section {
    padding-top: 1px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}
.logo a{
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    cursor: pointer;
}


.logo:hover{
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 2rem;
    font-style: bold;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    cursor: pointer;
}
.nav-links a:hover {
    color: #666;
    text-decoration: underline;
}

.hero {
    position: relative;
    width: 100vw;
    height: 93vh;
    overflow: hidden;
}
.hero-image {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 104%;
    height: auto;
    object-fit: cover;
    filter: blur(4px)
}

.hero-logo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    z-index: 10;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 1));
}

.content {
    padding: 2rem;
    height: 1000px;
}

:root {
    --background-color: #FFF0E5;
    --card-background: white;
    --text-color: #333;
    --spacing-unit1: 1rem;
    --border-unit1: .3rem;
}

h1{
    font-size: 4em;
    text-align: center;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, .3));
    margin-bottom: 1.5rem;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 90%;
    margin: 0 auto 1rem auto;
}

.team-member {
    background-color: var(--card-background);
    border-radius: 0.95rem;
    border: var(--border-unit1) solid black;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
}

.team-member-name {
    font-weight: bold;
    font-size: 3rem;
    margin-top: 0;
}

.team-member h3 {
    font-size: 1.6em;
    margin: .4rem 0 .2rem;
    text-align: left;
}

.team-member-image {
    flex: 10;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.6rem;
}

.team-member-image::before {
    content: "";
    display: block;
    padding-top: calc(11 / 10 * 100%);
}

.team-member-image img {
    position: absolute;
    top: var(--spacing-unit1);
    left: var(--spacing-unit1);
    width: calc(100% - 2 * var(--spacing-unit1) - var(--border-unit1));
    height: calc(100% - 2 * var(--spacing-unit1) - var(--border-unit1));
    object-fit: cover;
    border-radius: 0.5rem;
    border: var(--border-unit1) solid black;
}

.member-info {
    flex: 11;
    padding: var(--spacing-unit1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.member-info h2 {
    margin-top: .2em;
    margin-bottom: 0;
    font-size: 3.2em;
}

.member-info p {
    font-size: 1.1em;
    line-height: 1.4;
    margin-top: .5em;
    margin-bottom: 0;
    margin-right: .4em
}

.sponsor-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sponsor-card {
    background-color: var(--card-background);
    border-radius: 0.95rem;
    border: var(--border-unit1) solid black;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 1rem;
    width: 80%;
}

.sponsor-image {
    flex: .6;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.6rem;
}

.sponsor-image::before {
    content: "";
    display: block;
    padding-top: calc(8 / 10 * 100%);
}
.sponsor-image img {
    position: absolute;
    top: var(--spacing-unit1);
    left: var(--spacing-unit1);
    width: calc(100% - 2 * var(--spacing-unit1) - var(--border-unit1));
    height: calc(100% - 2 * var(--spacing-unit1) - var(--border-unit1));
    object-fit: cover;
    border-radius: 0.5rem;
    border: var(--border-unit1) solid black;
}
.sponsor-info {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sponsor-info h2 {
    margin-top: .2em;
    margin-bottom: 0;
    font-size: 3.2em;
}
.sponsor-info p {
    font-size: 1.3em;
    line-height: 1.4;
    margin-top: .5em;
    margin-bottom: 0;
    margin-right: .4em
}
.sponsor-info b{
    font-size: 1.4em;
}

.mentor-image {
    flex: .4;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.6rem;
}

.mentor-image::before {
    content: "";
    display: block;
    padding-top: 100%;
}
.mentor-image img {
    position: absolute;
    top: var(--spacing-unit1);
    left: var(--spacing-unit1);
    width: calc(100% - 2 * var(--spacing-unit1) - var(--border-unit1));
    height: calc(100% - 2 * var(--spacing-unit1) - var(--border-unit1));
    object-fit: cover;
    border-radius: 0.5rem;
    border: var(--border-unit1) solid black;
}

.large-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.large-card {
    background-color: var(--card-background);
    border-radius: 0.95rem;
    border: var(--border-unit1) solid black;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 1rem;
    width: 90%;
}

.coming-soon-content{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

h3{
    font-size: 2.5em;
    text-align: center;
}

footer{
    margin-top: 5rem;
    padding: 0rem;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Bus', sans-serif;
    color: orange;
    line-height: .9;
    background-color: rgba(0, 0, 0, 0.965);
    text-shadow: #f7e8b94f 0px 0px 4px;
}

@media (max-width: 48rem) {
    .team-member {
        flex-direction: column;
    }

    .team-member-image::before {
        padding-top: calc(10 / 11 * 100%);
    }

    .member-info {
        padding-top: 0;
    }

    .team-container {
        grid-template-columns: 1fr;
    }
}